<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.online.exams.system.core.mapper.CommonMapper">
    <resultMap id="ResultMap" type="com.online.exams.system.core.bean.QuestionMap">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="question_type" property="questionType" jdbcType="TINYINT"  typeHandler="com.online.exams.system.core.mybatis.EnumValueTypeHandler"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="options" property="options" jdbcType="VARCHAR"/>
        <result column="answers" property="answers" jdbcType="VARCHAR"/>
        <result column="difficulty" property="difficulty" jdbcType="TINYINT"/>
        <result column="priority" property="priority" jdbcType="TINYINT"/>
        <result column="status" property="status" jdbcType="TINYINT" typeHandler="com.online.exams.system.core.mybatis.EnumValueTypeHandler"/>
        <result column="tag_value" property="tagValue" jdbcType="TINYINT" typeHandler="com.online.exams.system.core.mybatis.EnumValueTypeHandler"/>
    </resultMap>

    <select id="selectQuestionByQuestionTypeAndTagType" parameterType="com.online.exams.system.core.bean.QuestionTag" resultMap="ResultMap">
        select
        question.id AS id, question_type, title, options, answers, difficulty, priority, status, tag.tag_value AS tag_value
        from question, tag
        WHERE
        question.id = tag.ref_id AND
        question.status = #{status ,jdbcType=TINYINT} AND
        question.question_type = #{questionType ,jdbcType=BIT} AND
        tag.ref_type = #{refType ,jdbcType=TINYINT} AND
        tag.tag_value = #{refValue ,jdbcType=TINYINT}
    </select>
</mapper>
