<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.online.exams.system.core.mapper.PaperMapper" >
  <resultMap id="BaseResultMap" type="com.online.exams.system.core.model.Paper" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="mongo_paper_id" property="mongoPaperId" jdbcType="INTEGER" />
    <result column="is_exam" property="isExam" jdbcType="TINYINT" />
    <result column="paper_type" property="paperType" jdbcType="TINYINT" />
    <result column="difficulty" property="difficulty" jdbcType="DOUBLE" />
    <result column="total_right" property="totalRight" jdbcType="INTEGER" />
    <result column="total_points" property="totalPoints" jdbcType="DOUBLE" />
    <result column="score" property="score" jdbcType="DOUBLE" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="create_at" property="createAt" jdbcType="TIMESTAMP" />
    <result column="update_at" property="updateAt" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Condition_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Condition_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, user_id, mongo_paper_id, is_exam, paper_type, difficulty, total_right, total_points, 
    score, status, create_at, update_at
  </sql>
  <select id="selectByCondition" resultMap="BaseResultMap" parameterType="com.online.exams.system.core.model.PaperCondition" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from paper
    <if test="_parameter != null" >
      <include refid="Condition_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitOffset >= 0" >
       limit ${limitOffset} , ${limitSize}
    </if>
  </select>
  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from paper
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteById" parameterType="java.lang.Integer" >
    delete from paper
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByCondition" parameterType="com.online.exams.system.core.model.PaperCondition" >
    delete from paper
    <if test="_parameter != null" >
      <include refid="Condition_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.online.exams.system.core.model.Paper" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into paper (user_id, mongo_paper_id, is_exam, 
      paper_type, difficulty, total_right, 
      total_points, score, status, 
      create_at, update_at)
    values (#{userId,jdbcType=INTEGER}, #{mongoPaperId,jdbcType=INTEGER}, #{isExam,jdbcType=TINYINT}, 
      #{paperType,jdbcType=TINYINT}, #{difficulty,jdbcType=DOUBLE}, #{totalRight,jdbcType=INTEGER}, 
      #{totalPoints,jdbcType=DOUBLE}, #{score,jdbcType=DOUBLE}, #{status,jdbcType=TINYINT}, 
      #{createAt,jdbcType=TIMESTAMP}, #{updateAt,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.online.exams.system.core.model.Paper" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into paper
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="mongoPaperId != null" >
        mongo_paper_id,
      </if>
      <if test="isExam != null" >
        is_exam,
      </if>
      <if test="paperType != null" >
        paper_type,
      </if>
      <if test="difficulty != null" >
        difficulty,
      </if>
      <if test="totalRight != null" >
        total_right,
      </if>
      <if test="totalPoints != null" >
        total_points,
      </if>
      <if test="score != null" >
        score,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createAt != null" >
        create_at,
      </if>
      <if test="updateAt != null" >
        update_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="mongoPaperId != null" >
        #{mongoPaperId,jdbcType=INTEGER},
      </if>
      <if test="isExam != null" >
        #{isExam,jdbcType=TINYINT},
      </if>
      <if test="paperType != null" >
        #{paperType,jdbcType=TINYINT},
      </if>
      <if test="difficulty != null" >
        #{difficulty,jdbcType=DOUBLE},
      </if>
      <if test="totalRight != null" >
        #{totalRight,jdbcType=INTEGER},
      </if>
      <if test="totalPoints != null" >
        #{totalPoints,jdbcType=DOUBLE},
      </if>
      <if test="score != null" >
        #{score,jdbcType=DOUBLE},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="createAt != null" >
        #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAt != null" >
        #{updateAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByCondition" parameterType="com.online.exams.system.core.model.PaperCondition" resultType="java.lang.Integer" >
    select count(*) from paper
    <if test="_parameter != null" >
      <include refid="Condition_Where_Clause" />
    </if>
  </select>
  <update id="updateByConditionSelective" parameterType="map" >
    update paper
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.mongoPaperId != null" >
        mongo_paper_id = #{record.mongoPaperId,jdbcType=INTEGER},
      </if>
      <if test="record.isExam != null" >
        is_exam = #{record.isExam,jdbcType=TINYINT},
      </if>
      <if test="record.paperType != null" >
        paper_type = #{record.paperType,jdbcType=TINYINT},
      </if>
      <if test="record.difficulty != null" >
        difficulty = #{record.difficulty,jdbcType=DOUBLE},
      </if>
      <if test="record.totalRight != null" >
        total_right = #{record.totalRight,jdbcType=INTEGER},
      </if>
      <if test="record.totalPoints != null" >
        total_points = #{record.totalPoints,jdbcType=DOUBLE},
      </if>
      <if test="record.score != null" >
        score = #{record.score,jdbcType=DOUBLE},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=TINYINT},
      </if>
      <if test="record.createAt != null" >
        create_at = #{record.createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateAt != null" >
        update_at = #{record.updateAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Condition_Where_Clause" />
    </if>
  </update>
  <update id="updateByCondition" parameterType="map" >
    update paper
    set id = #{record.id,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      mongo_paper_id = #{record.mongoPaperId,jdbcType=INTEGER},
      is_exam = #{record.isExam,jdbcType=TINYINT},
      paper_type = #{record.paperType,jdbcType=TINYINT},
      difficulty = #{record.difficulty,jdbcType=DOUBLE},
      total_right = #{record.totalRight,jdbcType=INTEGER},
      total_points = #{record.totalPoints,jdbcType=DOUBLE},
      score = #{record.score,jdbcType=DOUBLE},
      status = #{record.status,jdbcType=TINYINT},
      create_at = #{record.createAt,jdbcType=TIMESTAMP},
      update_at = #{record.updateAt,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Condition_Where_Clause" />
    </if>
  </update>
  <update id="updateByIdSelective" parameterType="com.online.exams.system.core.model.Paper" >
    update paper
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="mongoPaperId != null" >
        mongo_paper_id = #{mongoPaperId,jdbcType=INTEGER},
      </if>
      <if test="isExam != null" >
        is_exam = #{isExam,jdbcType=TINYINT},
      </if>
      <if test="paperType != null" >
        paper_type = #{paperType,jdbcType=TINYINT},
      </if>
      <if test="difficulty != null" >
        difficulty = #{difficulty,jdbcType=DOUBLE},
      </if>
      <if test="totalRight != null" >
        total_right = #{totalRight,jdbcType=INTEGER},
      </if>
      <if test="totalPoints != null" >
        total_points = #{totalPoints,jdbcType=DOUBLE},
      </if>
      <if test="score != null" >
        score = #{score,jdbcType=DOUBLE},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="createAt != null" >
        create_at = #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAt != null" >
        update_at = #{updateAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateById" parameterType="com.online.exams.system.core.model.Paper" >
    update paper
    set user_id = #{userId,jdbcType=INTEGER},
      mongo_paper_id = #{mongoPaperId,jdbcType=INTEGER},
      is_exam = #{isExam,jdbcType=TINYINT},
      paper_type = #{paperType,jdbcType=TINYINT},
      difficulty = #{difficulty,jdbcType=DOUBLE},
      total_right = #{totalRight,jdbcType=INTEGER},
      total_points = #{totalPoints,jdbcType=DOUBLE},
      score = #{score,jdbcType=DOUBLE},
      status = #{status,jdbcType=TINYINT},
      create_at = #{createAt,jdbcType=TIMESTAMP},
      update_at = #{updateAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>